In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# For machine learning 
from sklearn.model_selection import train_test_split 
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [3]:
df = pd.read_csv('../dataset/all.csv')

In [4]:
df.head()

,Thumb1,Index1,Middle1,Ring1,Pinky1,Palm1,AX1,AY1,AZ1,GX1,...,Ring2,Pinky2,Palm2,AX2,AY2,AZ2,GX2,GY2,GZ2,Word
0,823,860,615,573,668,879,-2.50,0.87,0.70,0.01,...,575,669,882,1.11,1.69,0.55,0.04,1.01,0.13,g
1,756,877,806,555,685,803,-4.17,2.21,-0.04,-0.03,...,545,681,800,-2.30,4.22,0.30,-0.05,1.00,-0.10,v
2,751,865,619,543,696,866,21.05,-51.84,-80.37,-0.38,...,547,703,819,-18.59,86.82,60.18,-0.65,0.26,0.61,z
3,822,885,733,589,690,880,-7.61,15.11,2.82,-0.57,...,588,690,883,-2.48,-0.38,-2.75,-0.55,0.80,-0.16,k
4,781,889,833,615,712,860,-2.30,1.78,1.18,-0.81,...,616,711,840,0.73,5.72,-0.50,-0.82,0.47,-0.29,h

In [5]:
len(df)

2486

In [6]:
df_X = df.drop(["Word"], axis=1)

In [7]:
df_y = df["Word"]

In [8]:
# Creating training and testing data
X_train, X_test, y_train, y_test = train_test_split(df_X, df_y, test_size=0.08)

In [9]:
print("Training data size : {} \nTesting data size : {}".format(len(X_train), len(X_test)))

Training data size : 2287
Testing data size : 199

In [10]:
print("Train data shape : {} \nTest Data shape : {} ".format(X_train.shape, X_test.shape))

Train data shape : (2287, 24)
Test Data shape : (199, 24)

In [11]:
X_train.head()

,Thumb1,Index1,Middle1,Ring1,Pinky1,Palm1,AX1,AY1,AZ1,GX1,...,Middle2,Ring2,Pinky2,Palm2,AX2,AY2,AZ2,GX2,GY2,GZ2
93,838,889,779,604,685,866,-4.01,0.60,-1.74,-0.52,...,787,599,685,860,-6.04,1.98,-3.61,-0.48,-0.55,0.51
25,759,761,600,596,730,401,-1.89,-1.86,9.28,0.06,...,603,591,726,406,1.65,-13.43,-15.44,0.00,0.91,0.25
1429,723,829,600,554,681,870,-0.31,1.52,4.44,-0.15,...,605,555,681,868,12.93,2.18,4.21,-0.17,0.96,-0.09
434,844,807,802,858,899,238,-0.77,-57.70,-1.49,-0.09,...,802,858,898,220,-2.54,2.57,1.23,-0.11,0.98,-0.07
65,734,879,835,557,672,825,-1.51,0.54,-1.06,0.12,...,836,550,671,829,2.11,11.53,-1.15,0.19,0.94,-0.34

In [12]:
print("Total unique elements in training data are : {}".format(len(y_train.value_counts())))

Total unique elements in training data are : 26

In [13]:
print("Training data for each alphabets are :\n{}".format(y_train.value_counts()))

Training data for each alphabets are :
m    93
a    93
j    93
f    92
s    91
i    91
b    90
x    90
p    90
z    89
h    89
l    88
t    88
g    88
y    88
r    88
u    87
n    87
d    87
v    85
o    84
c    84
w    84
e    83
k    83
q    82
Name: Word, dtype: int64

In [14]:
print("Total unique elements in test data are : {}".format(len(y_test.value_counts())))

Total unique elements in test data are : 26

In [15]:
print("Training data for each alphabets are :\n{}".format(y_test.value_counts()))

Training data for each alphabets are :
q    13
e    13
o    12
c    12
k    12
w    11
v    11
d     9
u     9
t     8
l     8
r     8
g     8
n     8
y     7
z     6
b     6
p     6
h     6
i     5
s     5
x     5
f     4
m     3
a     2
j     2
Name: Word, dtype: int64

In [19]:
# Model training
rf = RandomForestClassifier(n_estimators=30, random_state=30)
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=30,
                       n_jobs=None, oob_score=False, random_state=30, verbose=0,
                       warm_start=False)

In [20]:
rf.score(X_train, y_train)

1.0

In [21]:
rf.score(X_test, y_test)

0.9949748743718593

#### Achieved training score of 100% and test score og 99.49%

In [22]:
y_test_predicted = rf.predict(X_test)

In [23]:
print("Classification Report \n ", classification_report(y_test, y_test_predicted))

Classification Report
                precision    recall  f1-score   support

           a       1.00      1.00      1.00         2
           b       1.00      1.00      1.00         6
           c       1.00      1.00      1.00        12
           d       1.00      1.00      1.00         9
           e       1.00      1.00      1.00        13
           f       1.00      1.00      1.00         4
           g       1.00      1.00      1.00         8
           h       1.00      1.00      1.00         6
           i       1.00      1.00      1.00         5
           j       1.00      1.00      1.00         2
           k       1.00      1.00      1.00        12
           l       1.00      1.00      1.00         8
           m       0.75      1.00      0.86         3
           n       1.00      1.00      1.00         8
           o       1.00      1.00      1.00        12
           p       1.00      1.00      1.00         6
           q       1.00      1.00      1.00        13
           r       1.00      1.00      1.00         8
           s       1.00      1.00      1.00         5
           t       1.00      0.88      0.93         8
           u       1.00      1.00      1.00         9
           v       1.00      1.00      1.00        11
           w       1.00      1.00      1.00        11
           x       1.00      1.00      1.00         5
           y       1.00      1.00      1.00         7
           z       1.00      1.00      1.00         6

    accuracy                           0.99       199
   macro avg       0.99      1.00      0.99       199
weighted avg       1.00      0.99      1.00       199

### This model is good enough for all the cases of all the alphabets

In [24]:
# Using pickle to save model for later use
import pickle5 as pickle

In [25]:
# Saving the model 
pickle.dump(rf, open('../models/all_alphabets', 'wb'))