In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# For machine learning 
from sklearn.model_selection import train_test_split 
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [2]:
df = pd.read_csv('../dataset/all.csv')

In [3]:
df.head()

,Thumb1,Index1,Middle1,Ring1,Pinky1,Palm1,AX1,AY1,AZ1,GX1,...,Ring2,Pinky2,Palm2,AX2,AY2,AZ2,GX2,GY2,GZ2,Word
0,823,860,615,573,668,879,-2.50,0.87,0.70,0.01,...,575,669,882,1.11,1.69,0.55,0.04,1.01,0.13,g
1,756,877,806,555,685,803,-4.17,2.21,-0.04,-0.03,...,545,681,800,-2.30,4.22,0.30,-0.05,1.00,-0.10,v
2,751,865,619,543,696,866,21.05,-51.84,-80.37,-0.38,...,547,703,819,-18.59,86.82,60.18,-0.65,0.26,0.61,z
3,822,885,733,589,690,880,-7.61,15.11,2.82,-0.57,...,588,690,883,-2.48,-0.38,-2.75,-0.55,0.80,-0.16,k
4,781,889,833,615,712,860,-2.30,1.78,1.18,-0.81,...,616,711,840,0.73,5.72,-0.50,-0.82,0.47,-0.29,h

In [4]:
len(df)

2486

In [5]:
df_X = df.drop(["Word"], axis=1)

In [6]:
df_y = df["Word"]

In [7]:
# Creating training and testing data
X_train, X_test, y_train, y_test = train_test_split(df_X, df_y, test_size=0.08)

In [8]:
print("Training data size : {} \nTesting data size : {}".format(len(X_train), len(X_test)))

Training data size : 2287
Testing data size : 199

In [9]:
print("Train data shape : {} \nTest Data shape : {} ".format(X_train.shape, X_test.shape))

Train data shape : (2287, 24)
Test Data shape : (199, 24)

In [10]:
X_train.head()

,Thumb1,Index1,Middle1,Ring1,Pinky1,Palm1,AX1,AY1,AZ1,GX1,...,Middle2,Ring2,Pinky2,Palm2,AX2,AY2,AZ2,GX2,GY2,GZ2
641,769,735,628,557,667,838,-1.60,15.54,2.57,0.09,...,638,560,674,853,-0.37,0.56,5.66,0.03,0.93,-0.47
521,779,712,655,547,879,511,-41.56,24.80,51.67,-0.13,...,657,552,878,533,-47.08,19.57,44.26,-0.43,-0.25,0.75
1602,844,804,802,855,899,239,-10.24,40.14,3.07,-0.11,...,805,858,900,235,0.22,0.41,-1.05,-0.07,1.01,-0.10
729,779,751,662,608,685,854,-10.89,13.92,-0.95,-0.06,...,662,606,688,853,0.58,-7.21,1.36,-0.18,1.01,-0.30
1953,780,728,663,533,876,503,250.13,-0.48,38.73,-0.38,...,644,544,870,336,-171.24,33.79,-6.20,-0.07,0.51,0.70

In [11]:
print("Total unique elements in training data are : {}".format(len(y_train.value_counts())))

Total unique elements in training data are : 26

In [12]:
print("Training data for each alphabets are :\n{}".format(y_train.value_counts()))

Training data for each alphabets are :
g    93
b    92
o    92
k    91
l    91
s    90
n    90
y    90
e    89
p    89
a    88
j    88
t    88
c    88
x    88
v    88
r    87
q    87
i    86
h    86
z    85
u    85
w    85
m    85
f    83
d    83
Name: Word, dtype: int64

In [13]:
print("Total unique elements in test data are : {}".format(len(y_test.value_counts())))

Total unique elements in test data are : 26

In [14]:
print("Training data for each alphabets are :\n{}".format(y_test.value_counts()))

Training data for each alphabets are :
f    13
d    13
m    11
u    11
w    10
i    10
z    10
r     9
h     9
t     8
v     8
c     8
q     8
x     7
e     7
p     7
a     7
j     7
s     6
l     5
n     5
y     5
b     4
k     4
o     4
g     3
Name: Word, dtype: int64

In [15]:
rf = RandomForestClassifier(n_estimators=300, random_state=30)
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=300,
                       n_jobs=None, oob_score=False, random_state=30, verbose=0,
                       warm_start=False)

In [16]:
rf.score(X_train, y_train)

1.0

In [17]:
rf.score(X_test, y_test)

1.0

#### Achieved training score of 100% and test score og 99.49%

In [18]:
y_test_predicted = rf.predict(X_test)

In [19]:
print("Classification Report \n ", classification_report(y_test, y_test_predicted))

Classification Report
                precision    recall  f1-score   support

           a       1.00      1.00      1.00         7
           b       1.00      1.00      1.00         4
           c       1.00      1.00      1.00         8
           d       1.00      1.00      1.00        13
           e       1.00      1.00      1.00         7
           f       1.00      1.00      1.00        13
           g       1.00      1.00      1.00         3
           h       1.00      1.00      1.00         9
           i       1.00      1.00      1.00        10
           j       1.00      1.00      1.00         7
           k       1.00      1.00      1.00         4
           l       1.00      1.00      1.00         5
           m       1.00      1.00      1.00        11
           n       1.00      1.00      1.00         5
           o       1.00      1.00      1.00         4
           p       1.00      1.00      1.00         7
           q       1.00      1.00      1.00         8
           r       1.00      1.00      1.00         9
           s       1.00      1.00      1.00         6
           t       1.00      1.00      1.00         8
           u       1.00      1.00      1.00        11
           v       1.00      1.00      1.00         8
           w       1.00      1.00      1.00        10
           x       1.00      1.00      1.00         7
           y       1.00      1.00      1.00         5
           z       1.00      1.00      1.00        10

    accuracy                           1.00       199
   macro avg       1.00      1.00      1.00       199
weighted avg       1.00      1.00      1.00       199

### This model is good enough for all the cases of all the alphabets

In [20]:
# Using pickle to save model for later use
import pickle5 as pickle

In [21]:
# Saving the model 
pickle.dump(rf, open('../models/all_alphabets', 'wb'))